{% extends "main.html" %}

{% block verse%}
{{ verse }}
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h1>Climate Data</h1>
        <div>
            <form action="{% url 'Weather Filter' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>City</label>
                <input type="text" id="city" name="city" />
                <input type="submit" value="Filter" />
            </form>
        </div>
    </div>

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="d-flex justify-content-start flex-wrap">

        {% for weather in weathers %}
        <div class="col-md-4 p-2">
          <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        Temperature: {{ weather.temperature }}
                    </div>
                    <div>
                        <a href="{% url 'Weather Edit' weather.id %}" class="link-dark link-offset-2 link-underline-opacity-0">
                            <i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'Weather Delete' weather.id %}" class="link-dark link-offset-2 link-underline-opacity-0">
                            <i class="bi bi-trash-fill"></i></a>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Date: {{ weather.date }} <br />
                    City: {{ weather.city }} <br />
                    Atmospheric Pressure: {{ weather.atmosphericPressure }} <br />
                    Humidity: {{ weather.humidity }} <br />
                    Weather: {{ weather.weather }}
                </p>
            </div>
          </div>
        </div>

        {% endfor %}

    </div>
{% endblock content %}